.loginBtn {
  border: 3px solid #b79877;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 7px 15px 7px 15px;
  color: black;
  background-color: #f5e1ca;
  font-family: "Cormorant Garamond", serif;
}
.loginBtn:hover {
  background-color: #f6c493b3;
}
.signUpBtn {
  border: 3px solid #b79877;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  padding: 7px 15px 7px 15px;
  color: black;
  background-color: #f5e1ca;
  font-family: "Cormorant Garamond", serif;
}
.signUpBtn:hover {
  background-color: #f6c493b3;
}
.backToProfileBtn {
  border: 3px solid #b79877;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  border-radius: 10px;
  padding: 7px 15px 7px 15px;
  color: black;
  background-color: #f5e1ca;
  font-family: "Cormorant Garamond", serif;
}
.holdsTheBtnsIntroPage {
  margin: 15px 15px 0px 15px;
  padding: 20px 25px 20px 20px;
  text-align: right;
}

.backToProfileBtnWhileLoggedIn {
  border: 3px solid #b79877;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  border-radius: 10px;
  padding: 7px 15px 7px 15px;
  color: black;
  background-color: #f5e1ca;
  font-family: "Cormorant Garamond", serif;
}
.backToProfileBtnWhileLoggedIn:hover {
  background-color: #f6c493b3;
}

.logoutBtn {
  border: 3px solid #b79877;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  border-radius: 10px;
  padding: 7px 15px 7px 15px;
  color: black;
  background-color: #f5e1ca;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.logoutBtn:hover {
  background-color: #f6c493b3;
}
.containsBtnsWhileLoggedIn {
  padding-top: 30px;
  text-align: right;
}
